body{

}

small{
    font-size:16px
}

a {
    color: black;
}

.box2{
    background-color: black;
    height: 100px;
    border-radius: 5px;
    opacity: .3;
}

.box2 > a {
    color: black!important;
    font-size: 24px;

}

.box3{
    width: 100%;
    height: 290px;
    margin-top: 10px;
    border: 1px solid brown;
}

.box4 {
    height: 700px;
}

.box5 {
    background-color: black;
    margin-top: 40px;
    height: 1200px;
    opacity: 0.2;
}
.bbox{
    width: 1000px;
}

.box5card{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    width: 300px;
    height: 400px;
}

.box5card2{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    width: 462px;
    height: 400px;
}

.box6 {
    height: 300px;
}

.box7 {
    width: 100%;
    min-height: 1200px;
    position: relative;
}

.image1 {
    background: url(https://images.wallpaperscraft.com/image/single/boat_mountains_lake_135258_2560x1600.jpg) center no-repeat;
    background-attachment: fixed;
}

.image2 {
    background: url(https://images.wallpaperscraft.com/image/single/road_trees_shadow_119606_2560x1600.jpg) center no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}

.image3 {
    background: url(https://images.wallpaperscraft.com/image/single/train_railway_bridge_122067_2560x1600.jpg) no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
}


.cardbox4 {
    margin-top: 50px;
    border-radius: 5px;
    width: 300px;
    height: 400px;
}

.color1{
    background-color: #A8E6CE ;
}

.color2{
    background-color: #FFD3B5 ;
}

.color3{
    background-color: #DCEDC2 ;
}

.movie {
    background-color: #0005;
    background-blend-mode: darken;
    position: relative!important;
    height: 100%;
    left: 0;
    bottom: 0;
}


a.top {
    position: fixed;
    left: 50%;
    bottom: 50px;
    display: none;
}

.card1{
    width: 300px;
    height: 400px;
    border-radius: 5px;
}

.card2{
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

.card3{
    width: 350px;
    height: 400px;
    border-radius: 5px;
}

.card3_card{
    background-color: darkslategrey;
    border-radius: 6px;
    width: 75%;
    margin-right: 10%;
    margin-left: 15%;
    height: 45px;
}
